---

version: "2.4"
services:
  ir01:
    image: ${IR_IMAGE}:${IR_VERSION}
    domainname: ${LOCAL_DOMAIN}
    hostname: ir01
    container_name: ir01
    networks:
      ir_int:
      internet:
        ipv4_address: ${IPV4_PREFIX}.61
    stop_signal: SIGKILL
    volumes:
      - ./01.key:/01.key
      - ./../../vendor/hosts:/etc/hosts
    env_file: [ ".env", ".ir.env" ]
    environment:
    - NEOFS_IR_KEY=/01.key

  ir02:
    image: ${IR_IMAGE}:${IR_VERSION}
    domainname: ${LOCAL_DOMAIN}
    hostname: ir02
    container_name: ir02
    networks:
      ir_int:
      internet:
        ipv4_address: ${IPV4_PREFIX}.62
    volumes:
      - ./02.key:/02.key
      - ./../../vendor/hosts:/etc/hosts
    stop_signal: SIGKILL
    env_file: [ ".env", ".ir.env" ]
    environment:
    - NEOFS_IR_KEY=/02.key

  ir03:
    image: ${IR_IMAGE}:${IR_VERSION}
    domainname: ${LOCAL_DOMAIN}
    hostname: ir03
    container_name: ir03
    networks:
      ir_int:
      internet:
        ipv4_address: ${IPV4_PREFIX}.63
    volumes:
      - ./03.key:/03.key
      - ./../../vendor/hosts:/etc/hosts
    stop_signal: SIGKILL
    env_file: [ ".env", ".ir.env" ]
    environment:
    - NEOFS_IR_KEY=/03.key

  ir04:
    image: ${IR_IMAGE}:${IR_VERSION}
    domainname: ${LOCAL_DOMAIN}
    hostname: ir04
    container_name: ir04
    networks:
      ir_int:
      internet:
        ipv4_address: ${IPV4_PREFIX}.64
    volumes:
      - ./04.key:/04.key
      - ./../../vendor/hosts:/etc/hosts
    stop_signal: SIGKILL
    env_file: [ ".env", ".ir.env" ]
    environment:
    - NEOFS_IR_KEY=/04.key

  ir05:
    image: ${IR_IMAGE}:${IR_VERSION}
    domainname: ${LOCAL_DOMAIN}
    hostname: ir05
    container_name: ir05
    networks:
      ir_int:
      internet:
        ipv4_address: ${IPV4_PREFIX}.65
    volumes:
      - ./05.key:/05.key
      - ./../../vendor/hosts:/etc/hosts
    stop_signal: SIGKILL
    env_file: [ ".env", ".ir.env" ]
    environment:
    - NEOFS_IR_KEY=/05.key

  ir06:
    image: ${IR_IMAGE}:${IR_VERSION}
    domainname: ${LOCAL_DOMAIN}
    hostname: ir06
    container_name: ir06
    networks:
      ir_int:
      internet:
        ipv4_address: ${IPV4_PREFIX}.66
    volumes:
      - ./06.key:/06.key
      - ./../../vendor/hosts:/etc/hosts
    stop_signal: SIGKILL
    env_file: [ ".env", ".ir.env" ]
    environment:
    - NEOFS_IR_KEY=/06.key

  ir07:
    image: ${IR_IMAGE}:${IR_VERSION}
    domainname: ${LOCAL_DOMAIN}
    hostname: ir07
    container_name: ir07
    networks:
      ir_int:
      internet:
        ipv4_address: ${IPV4_PREFIX}.67
    volumes:
      - ./07.key:/07.key
      - ./../../vendor/hosts:/etc/hosts
    stop_signal: SIGKILL
    env_file: [ ".env", ".ir.env" ]
    environment:
    - NEOFS_IR_KEY=/07.key

networks:
  ir_int:
  internet:
    external:
      name: basenet_internet
