---

version: "2.4"
services:

  ir01:
    image: ${IR_IMAGE}:${IR_VERSION}
    domainname: ${LOCAL_DOMAIN}
    hostname: ir01
    container_name: ir01
    restart: on-failure
    networks:
      ir_int:
      internet:
        ipv4_address: ${IPV4_PREFIX}.61
    stop_signal: SIGKILL
    volumes:
      - ./az.json:/wallet.json
      - ./../../vendor/hosts:/etc/hosts
      - ./../../vendor/locode_db:/locode/db
      - ./../../vendor/neofs-cli:/neofs-cli
      - ./healthcheck.sh:/healthcheck.sh
      - ./cli-cfg.yml:/cli-cfg.yml
    env_file: [ ".env", ".ir.env", ".int_test.env" ]
    environment:
    - NEOFS_IR_WALLET_PATH=/wallet.json
    - NEOFS_IR_WALLET_ADDRESS=Nhfg3TbpwogLvDGVvAvqyThbsHgoSUKwtn
    - NEOFS_IR_WALLET_PASSWORD=one
    healthcheck:
      test: ["CMD-SHELL", "/healthcheck.sh"]
      interval: 2s
      timeout: 1s
      retries: 5
      start_period: 20s

  ir-healthcheck:
    container_name: ir-healthcheck
    image: debian:10
    depends_on:
      ir01:
        condition: service_healthy

networks:
  ir_int:
  internet:
    external: true
    name: basenet_internet
