# IDE
.idea
.vscode

# Vendoring
vendor

temp
tmp
docker-compose.err

.secrets
sites/*
!sites/.gitkeep

# Runtime generation keys
services/storage/*tls.crt
services/storage/*tls.key
services/nats/*.pem
services/k6_node/id_ed25519*
