---

version: "2.4"
services:
  storage01:
    image: ${NODE_IMAGE}:${NODE_VERSION}
    domainname: ${LOCAL_DOMAIN}
    hostname: s01
    container_name: s01
    restart: on-failure
    networks:
      storage_int:
      internet:
        ipv4_address: ${IPV4_PREFIX}.71
    volumes:
      - ./01.key:/01.key
      - ./../../vendor/hosts:/etc/hosts
      - storage_s01:/storage
    stop_signal: SIGKILL
    env_file: [ ".env", ".storage.env" ]
    environment:
      - NEOFS_NODE_KEY=/01.key
      - NEOFS_NODE_ADDRESS=s01.${LOCAL_DOMAIN}:8080
      - NEOFS_GRPC_ENDPOINT=s01.${LOCAL_DOMAIN}:8080
      - NEOFS_NODE_ATTRIBUTE_0=/Locode:RU MSK

  storage02:
    image: ${NODE_IMAGE}:${NODE_VERSION}
    domainname: ${LOCAL_DOMAIN}
    hostname: s02
    container_name: s02
    restart: on-failure
    networks:
      storage_int:
      internet:
        ipv4_address: ${IPV4_PREFIX}.72
    volumes:
      - ./02.key:/02.key
      - ./../../vendor/hosts:/etc/hosts
      - storage_s02:/storage
    stop_signal: SIGKILL
    env_file: [ ".env", ".storage.env" ]
    environment:
      - NEOFS_NODE_KEY=/02.key
      - NEOFS_NODE_ADDRESS=s02.${LOCAL_DOMAIN}:8080
      - NEOFS_GRPC_ENDPOINT=s02.${LOCAL_DOMAIN}:8080
      - NEOFS_NODE_ATTRIBUTE_0=/Locode:RU LED

  storage03:
    image: ${NODE_IMAGE}:${NODE_VERSION}
    domainname: ${LOCAL_DOMAIN}
    hostname: s03
    container_name: s03
    restart: on-failure
    networks:
      storage_int:
      internet:
        ipv4_address: ${IPV4_PREFIX}.73
    volumes:
      - ./03.key:/03.key
      - ./../../vendor/hosts:/etc/hosts
      - storage_s03:/storage
    stop_signal: SIGKILL
    env_file: [ ".env", ".storage.env" ]
    environment:
      - NEOFS_NODE_KEY=/03.key
      - NEOFS_NODE_ADDRESS=s03.${LOCAL_DOMAIN}:8080
      - NEOFS_GRPC_ENDPOINT=s03.${LOCAL_DOMAIN}:8080
      - NEOFS_NODE_ATTRIBUTE_0=/Locode:SE STO

  storage04:
    image: ${NODE_IMAGE}:${NODE_VERSION}
    domainname: ${LOCAL_DOMAIN}
    hostname: s04
    container_name: s04
    restart: on-failure
    networks:
      storage_int:
      internet:
        ipv4_address: ${IPV4_PREFIX}.74
    volumes:
      - ./04.key:/04.key
      - ./../../vendor/hosts:/etc/hosts
      - storage_s04:/storage
    stop_signal: SIGKILL
    env_file: [ ".env", ".storage.env" ]
    environment:
      - NEOFS_NODE_KEY=/04.key
      - NEOFS_NODE_ADDRESS=s04.${LOCAL_DOMAIN}:8080
      - NEOFS_GRPC_ENDPOINT=s04.${LOCAL_DOMAIN}:8080
      - NEOFS_NODE_ATTRIBUTE_0=/Locode:FI HEL

volumes:
  storage_s01:
  storage_s02:
  storage_s03:
  storage_s04:

networks:
  storage_int:
  internet:
    external:
      name: basenet_internet
