---

version: "2.4"
services:
  neofs_main_chain:
    image: nspccdev/neo-go:${NEOGO_VERSION}
    container_name: main_chain
    command: ["node", "--config-path", "/config", "--privnet", "--debug"]
    domainname: ${LOCAL_DOMAIN}
    hostname: main-chain
    networks:
      chain_int:
      internet:
        ipv4_address: ${IPV4_PREFIX}.50
    stop_signal: SIGKILL
    environment:
    - ACC=/chain.gz
    volumes:
    - ./../../vendor/chain.gz:/chain.gz
    - ./protocol.privnet.yml:/config/protocol.privnet.yml
    - ./node-wallet.json:/wallets/node-wallet.json
    - ./../../vendor/hosts:/etc/hosts
    - ./../../wallets/wallet.json:/wallets/wallet.json

networks:
  chain_int:
  internet:
    external: true
    name: basenet_internet
